option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "ecstasymessenger"
    MASTER_KEY: "1227"
    DATABASE_URI: "mongodb://heroku_5k1sgh88:ubc1q7lqm5s1cpfj66c6p09tmj@ds145952.mlab.com:45952/heroku_5k1sgh88"
    NODE_ENV: "production"
    SERVER_URL: "http://ecstasymessenger.herokuapp.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
